<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



  <!-- Bulma - https://bulma.io/  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />

  <!-- Font Awesome - https://fontawesome.com -->
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/static/styles/styles.css">
  <link rel="stylesheet" href="/static/styles/user-admin.css">

  <title>Bulgae - Budgeting is fun!</title>
</head>

<body>




  <!-- Navigation -->
  <nav class="navbar is-fixed-top">
    <div class="container is-white">
      <div class="navbar-brand">
        <a href="/" class="navbar-item">
          <img src="/static/assets/logo.png" alt="Bulgae" class="svglogok"> Bulgae
        </a>
        <span class="navbar-burger burger" data-target="navbarMenuHeroB">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenuHeroB" class="navbar-menu">
        <div class="navbar-end">

          <span class="navbar-item">
            <a href="/users/logout" class="button is-primary">
              <span class="icon">
                <i class="fas fa-sign-out-alt"></i>
              </span>
              <span class="has-text-white">Sign-out</span>
            </a>
          </span>

          <a href="https://twitter.com/BulgaeBudgets" target="_blank" class="navbar-item"><i class="fab fa-twitter"></i></a>
        </div>
      </div>
    </div>
  </nav>
  <!-- END Navication -->

  <!-- Main Section -->
  <div class="container is-fluid push" id="show-modal">
    <!-- MODAL -->
    <div class="modal" v-bind:class="{'is-active':isActive}">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head modal-card-head-background-color">
          <p class="modal-card-title has-text-weight-bold">Create New Budget Item</p>
          <button @click="close" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
          <!-- Content ... -->
          <div class="field">
            <form id="new_item" method="POST" action="dashboard/add">
              <input type="hidden" id="_csrf" name="_csrf" value="<%= csrfToken() %>">
              <h6 class="subtitle is-6"><span class="tag is normal"> All fields are required</span></h6>
              <div class="control">
                <input class="input is-large inputpad" type="text" name="name" placeholder="Name" required>
                <input class="input is-large inputpad" type="text" name="category" placeholder="Category" required>
                <input class="input is-large inputpad" type="text" name="amount" placeholder="Amount" required>
                <input class="input is-large inputpad" type="text" name="description" placeholder="Description"
                  required>
              </div>
              <div class="field inputpad-plus">
                <p class="control has-icons-left">
                  <span class="select is-medium is-primary">
                    <select name="expense">
                      <option selected value="true" name="expense">Expense</option>
                      <option value="false" name="income">Income</option>
                    </select>
                  </span>
                </p>



              </div>
            </form>
          </div>
        </section>
        <footer class="modal-card-foot modal-card-head-background-color">

          <!-- onclick="document.getElementById('new_item').submit();" -->
          <a href="#" @click="removes" class="button is-primary is-inverted">
            <span class="icon is-small">
              <i class="fas fa-check"></i>
            </span>
            <span>Save</span>
          </a>
          <a class="button is-danger is-inverted">
            <span class="icon is-small" @click="close">
              <i class="fas fa-times" @click="close"></i>
            </span>
            <span @click="close">Cancel</span>
          </a>

        </footer>
      </div>
    </div>
    <!-- END MODAL -->

    <div class="columns">
      <div class="column">
        <aside class="menu">
          <p class="menu-label">
            General
          </p>
          <ul class="menu-list">
            <li><a class="is-active">Dashboard</a></li>
            <li><a>Customers</a></li>
          </ul>
          <p class="menu-label">
            Budget
          </p>
          <ul class="menu-list">

            <li>
              <a>Manage Your Budget</a>
              <ul>
                <li><a v-on:click="expense">Add Expense</a></li>
                <li><a v-on:click="expense">Add Income</a></li>
              </ul>
            </li>

          </ul>
          <p class="menu-label">
            Account
          </p>
          <ul class="menu-list">
            <li><a>Personal Details</a></li>
            <li><a>Settings</a></li>
            <li><a href="/users/logout">Logout</a></li>
          </ul>
        </aside>
      </div>
      <div class="column is-9">

        <section class="hero is-primary welcome is-small">
          <div class="hero-body">
            <div class="container">
              <h1 class="title">
                {{ message }} {{ userTitle }}

              </h1>
              <h2 class="subtitle">
                I hope you are having a great day!
              </h2>
            </div>
          </div>
        </section>
        <section class="info-tiles">
          <div class="tile is-ancestor has-text-centered">
            <div class="tile is-parent">
              <article class="tile is-child box">
                  <amount-header v-bind:amount="inc - exp"></amount-header>
                <p class="subtitle">Net Income</p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box">
                    <amount-header v-bind:amount="exp"></amount-header>
                <p class="subtitle">Expenses</p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box">
                  <amount-header v-bind:amount="inc"></amount-header>
                <p class="subtitle">Income</p>
              </article>
            </div>

          </div>
        </section>
        <div class="columns">
          <div id="launch-modal-expense" class="column is-6">
            <div class="card events-card">
              <header class="card-header">
                <p class="card-header-title">
                  Expenses
                </p>
                <a href="#" v-on:click="expense" class="card-header-icon" aria-label="more options">
                  <span class="icon" v-on:click="expense" alt="add expense">
                    <i class="fa fa-plus add" alt="Add Expense" aria-hidden="true"></i>
                  </span>
                </a>
              </header>
              <div class="card-table">
                <div class="content">
                  <table class="table is-fullwidth is-striped">
                    <thead>
                      <tr>
                        <th></th>
                        <th>date</th>
                        <th>name</th>
                        <th>category</th>
                        <th>amount</th>
                        <th>edit</th>
                        <th></th>
                      </tr>

                    </thead>
                    <tbody>
                      <tr>
                        <td width="5%"><i class="fas fa-bell"></i></td>
                        <td>2/15/19</td>
                        <td>
                          <!-- item.name -->
                        </td>
                        <td>
                          <!-- item.category-->
                        </td>
                        <td>$
                          <!-- item.amount -->
                        </td>
                        <td><a class="button is-small" href="#"><i class="fas fa-pencil-alt"></i></a></td>
                        <td>
                          <form>
                            <input type="hidden" name="_csrf" value="<%= csrfToken() %>">
                            <button type="submit">X</button>
                          </form>
                        </td>
                      </tr>

                    </tbody>
                  </table>

                </div>
              </div>
              <footer class="card-footer">
                <a href="#" class="card-footer-item">View All</a>
              </footer>
            </div>
          </div>
          <div class="column is-6">
            <div class="card events-card">
              <header class="card-header">
                <p class="card-header-title">
                  Income
                </p>
                <a href="#" class="card-header-icon" aria-label="more options">
                  <span class="icon" v-on:click="expense">
                    <i class="fa fa-plus add" aria-hidden="true"></i>
                  </span>
                </a>
              </header>
              <div class="card-table">
                <div class="content">
                  <table class="table is-fullwidth is-striped">
                    <thead>
                      <tr>
                        <th>date</th>
                        <th>name</th>
                        <th>category</th>
                        <th>amount</th>
                        <th>edit</th>
                        <th></th>
                      </tr>

                    </thead>
                    <tbody>



                      <tr>
                        <td>2/15/19</td>
                        <td>
                          <!-- item.name -->
                        </td>
                        <td>
                          <!-- item.category -->
                        </td>
                        <td>$
                          <!-- item.amount -->
                        </td>
                        <td><a class="button is-small" href="#"><i class="fas fa-pencil-alt"></i></a></td>

                        <td>
                          <form>
                            <input type="hidden" name="_csrf" value="<%= csrfToken() %>">
                            <button type="submit">X</button>
                          </form>
                        </td>
                      </tr>




                    </tbody>
                  </table>

                </div>
              </div>
              <footer class="card-footer">
                <a href="#" class="card-footer-item">View All</a>

              </footer>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Bulgae</strong> by <a class="has-text-primary" href="http://ludahl.com">Josh Ludahl</a>. Made with <i
            class="fas fa-beer"></i>
          and <i class="fas fa-coffee"></i>.
        </p>


      </div>
    </footer>
    <!-- END Footer -->

  </div>
  <!-- END Main Section -->




  <!-- Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="/static/javascript/bulma.js"></script>
  <script src="/static/javascript/vue-modal.js"></script>


</body>

</html>