<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Undernet Framework -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/undernet@3.2.1/dist/undernet.min.css" integrity="sha256-8x/TroXJnYs/aEWW9kydprsIuSRRMWarYaqOkKZuHMs="
        crossorigin="anonymous">



    <link rel="stylesheet" href="/static/styles/styles.css">
    <link rel="stylesheet" href="/static/styles/fancyfont.css">

    <title>Bulgae - Budgeting is fun!</title>
</head>

<body>
        <div class="grid has-no-padding">
                <div class="row has-no-padding">
                  <div class="column has-no-padding nav">
                    <ul class="nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/dashboard">Dashboard</a></li>
                        <li>Profile</li>
                        <li><a href="/users/login">Login | Logout</a></li>
                    </ul>
                  </div>
                </div>
              </div>
    <div class="fullscreen grid">

        <div class="row">
          <div class="column">
                <div class="text">
                        <p class="collective">Budgets are</p>
                        <p class="collective">
                          <span class="word wisteria">smart.</span>
                          <span class="word belize">wonderful.</span>
                          <span class="word pomegranate">easy.</span>
                          <span class="word green">useful.</span>
                          <span class="word midnight">empowering.</span>
                        </p>
                      </div>
          </div>
        </div>
      </div>


      <div class="fullscreen grid second">
            <div class="row is-aligned-bottom has-content-bottom">
              <div class="column">
                <p>I’m at the bottom.</p>
              </div>
            </div>
          </div>

<script type="text/javascript" src="static/javascript/fancyfont.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/undernet@3.2.1/dist/undernet.bundle.min.js"
        integrity="sha256-Z/WIDzOB1TR2AmD0ILIyYevSXPG7AFZQElRWhS1Z0Kc=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', Undernet.start())
    </script>
</body>

</html>